#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.custom-div {
  width: 1500%;
  max-width: 320px; /* You can adjust the max-width as needed */
  margin: 4 auto;
  padding: 16px;
  background-color: #333; /* Change the background color to your desired color */
  color: #FFA500; /* Change the text color to your desired color */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.password {
  color: rgb(242, 242, 250); /* Change the color to your desired color */
  font-family: Arial, sans-serif; /* Change the font-family to your desired font */
}
.button {
  width: 70px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 14px; /* Adjust the font size as needed */
  padding: 5px 1px; /* Adjust the padding as needed */
  margin: 14px;
  margin-top: 4px;
  background-color: rgb(59, 155, 202);
}
.label{
  align-items: flex-start;
  margin: 2px;
}

